<hr>
<span class="badge badge-pill badge-success">Total : {{total}} dt</span>
<div>
    <div *ngIf="quantite!=null" class="alert alert-primary">
        <div class="row">
            <div class="col-md5">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="assets/images/{{quantite.produit.image}}">

                </div>
            </div>
            <div>



            </div>
            <div class="col-md4"[ngStyle]="{'margin-left' :'30px'}" >
                <h5 class="card-title">{{quantite.produit.name}}</h5>
                <p class="card-text">{{quantite.produit.description}}</p>
                <form #editform="ngForm" (ngSubmit)="EditComande(editform.value,quantite)">
                <input type="number" value="{{quantite.quantite}}" class="form-control" name="quantite" ngModel>
                <input type="submit" class="btn btn-info" (click)="sendEvent()">
            </form>
            </div>
        </div>
    </div>
</div>
