<div class="container">
  <i class="fas fa-cart-arrow-down" [ngStyle]="{'color' :'white'}">
  </i>
  <table class="table">
    <thead class="table-warning">
      <tr>
        <th scope="col">Product </th>
        <th scope="col">Product Description</th>
        <th scope="col">Quantite</th>
        <th scope="col">Price</th>
        <th scope="col">Action</th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let c of Commande">

        <td><img src="assets/images/{{c.produit.image}}"
            [ngStyle]="{'weigth' :'50px','height' :'50px'}">{{c.produit.name}}</td>

        <td>{{c.produit.description}}</td>

        <td>
          {{c.quantite}}
          <input type="text"   class="form-control"></td>
        <td>{{c.prix}} dt</td>
        <td><i (click)="delete(c)"  class="fas fa-trash" [ngStyle]="{'color' :'red'}">
          </i> <i (click)="EnbleEdit(c)" class="fa fa-edit" [ngStyle]="{'color' :'blue'}">
          </i> </td>
      </tr>

    </tbody>
    
  </table>
<app-amount [quantite]="CommandeEdit" (Update)="updateComande($event)"></app-amount>
<button class="btn btn-info" (click)="addCommande()">Addd Command </button>
</div>